 <!DOCTYPE HTML> 
<html lang="en"> 
<title>Pyception</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 

<head>

{% block assests %}

<!--link href="http://treehack.s3.amazonaws.com/assets/html.css" rel="stylesheet" type="text/css"> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> 
  <script type="text/javascript" src="http://treehack.s3.amazonaws.com/assets/jquery.color.js"></script>
  <script type="text/javascript" src="http://treehack.s3.amazonaws.com/assets/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://treehack.s3.amazonaws.com/assets/mode-python.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://treehack.s3.amazonaws.com/assets/oooFancy.js" type="text/javascript" charset="utf-8"></script-->

  <link href="https://dl-web.dropbox.com/get/Hack/TreeHack/treehack/assets/html.css?w=c095b553" rel="stylesheet" type="text/css"> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> 
  <script type="text/javascript" src="http://3wt.us/TreeHack/assets/jquery.color.js"></script>
  <script type="text/javascript" src="http://3wt.us/TreeHack/assets/ace.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="http://3wt.us/TreeHack/assets/mode-python.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="http://3wt.us/TreeHack/assets/oooFancy.js" type="text/javascript" charset="utf-8"></script>

{% endblock %}



{% block javascript %}
{% endblock %}

</head>
<body>

{% block header %}
<div id="eighteenAndUnderBar">
  <a href="/">Home</a>
  <a href="/about">About</a>
</div>
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>
