 <!DOCTYPE HTML> 
<html lang="en"> 
<title>Pyception</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 

<head>
{% block assests %}

  <link href="/app/treehack/assets/html.css" rel="stylesheet" type="text/css"> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> 
  <script type="text/javascript" src="/app/treehack/assets/jquery.color.js"></script>
  <script src="/app/treehack/assets/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="/app/treehack/assets/mode-python.js" type="text/javascript" charset="utf-8"></script>
  <script src="/app/treehack/assets/oooFancy.js" type="text/javascript" charset="utf-8"></script>
  <!--
  <link href="https://dl-web.dropbox.com/get/Hack/TreeHack/assets/html.css?w=b565ec82" rel="stylesheet" type="text/css"> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> 
  <script type="text/javascript" src="http://3wt.us/TreeHack/assets/jquery.color.js"></script>
  <script src="http://3wt.us/TreeHack/assets/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://3wt.us/TreeHack/assets/mode-python.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://3wt.us/TreeHack/assets/oooFancy.js" type="text/javascript" charset="utf-8"></script>
  -->
{% endblock %}

{% block csrf %}
<script>
$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
</script>
{% endblock %}


{% block javascript %}
{% endblock %}

</head>

<body>

{% block header %}
<div id="eighteenAndUnderBar">
  <a href="/">Home</a>
  <a href="/about">About</a>
</div>
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>
