{% extends "base.html" %}

{% block javascript %}
<script type="text/javascript" src="http://treehack.s3.amazonaws.com/assets/draw.js"></script>
<script type="text/javascript">
$('#pushThisButton').click(function() {
        $('#semiRelevantInfo').slideToggle('slow', function() {
                $('#editor, #containsCodeEditor').css({ 'height' : '500px' });
                editor = ace.edit("editor");
                var PythonMode = require("ace/mode/python").Mode;
                editor.getSession().setMode(new PythonMode());
                $('#showForm').animate({ 'opacity' : '1' });
            });
    });

$('#smallify').click(function(e) {
        e.preventDefault;
        $.post('/transferCode/', {'code': editor.getSession().getValue()}, function(dic) {
                all = dic['parsed'];
                id = dic['ID'];
                if ( all instanceof Object ) {
                    drawInit();
                } else {
                    $(".parseError").html( all );
                }
            });
    });

$('#updateThisCrap').click(function() {
        $.post('/transferCode/', {'code': snippet.getSession().getValue()}, function(dic) {
                all = dic['parsed'];
                id = dic['ID'];
                $('#growsOnTrees').empty();
                $('#share').empty();
                var base = { x : 521/2, y : 658/ 2 };
                var length = base.x / 2;
                draw( all, base, length, true );
                $('#share').append('Share your code:<br><textarea>'+window.location.href+id+'</textarea>');
            });
    });
</script>

{% endblock %}
{% block content %}

<div id="contentButNotHappy">
  <div id="semiRelevantInfo">
  <a href="/"><div id="title">
  PYCEPTION
</div>
</a>
    Pyception will grow your beautiful code into a beautiful tree.<br>
    <span id="pushThisButton" class="bigBlack">Try it now</span>
  </div>
  <div id="showForm">
  Please type your code below.
  <div id="containsCodeEditor">
  <div id="editor"></div>
  </div>
  <center>
    <button class="bigBlack" id="smallify">Treeify Me!</button><br>
    <span class="parseError"></span></center>
  </div>
</div>

{% block tree %}
<div id="contentAndNotSad">
  <div id="treeOnMyPage">
    <img src="http://3wt.us/TreeHack/assets/tree.png" class="left"> 
  </div>
  <div id="growsOnTrees" class="left">
  </div>

  <div id="othahContainer">
  alt + click to see which line each element comes from!
  <div id="containsSnippet">
  <div id="snippet"></div>
{% endblock %}

  </div><br>
  <button class="bigBlack" id="updateThisCrap">Treeify Me!</button>
  <br><span class="parseError"></span>
  <div id="share">
  </div>
  </div>
</div>
{% endblock %}
