{% extends "base.html" %}

{% block javascript %}
  <script type="text/javascript" src="http://treehack.s3.amazonaws.com/assets/draw.js"></script> 
{% endblock %}

{% block content %}
<div id="contentButNotHappy">
  <div id="semiRelevantInfo">
  <a href="/"><div id="title">
  PYCEPTION
</div>
</a>
    Pyception will grow your beautiful code into a beautiful tree.<br>
    <span id="pushThisButton" class="bigBlack">Try it now</span>
  </div>
  <div id="showForm">
  Please type your code below.
  <div id="containsCodeEditor">
  <div id="editor"></div>
  </div>
  <center><button class="bigBlack" id="smallify">Treeify Me!</button><br><span class="parseError"></span></center>
  </div>
</div>
<div id="contentAndNotSad">
  <div id="treeOnMyPage">
    <img src="http://3wt.us/TreeHack/assets/tree.png" class="left"> 
  </div>
  
  <div id="growsOnTrees" class="left">

  </div>
  <div id="othahContainer">
  alt + click to see which line each element comes from!
  <div id="containsSnippet">
  <div id="snippet"></div>
  </div><br>
  <button class="bigBlack" id="updateThisCrap">Treeify Me!</button>
  <br><span class="parseError"></span>
  <div id="share">
  </div>
  </div>
</div>

{% endblock %}
